/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
/* line 6, ../sass/_reset.scss */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

/* line 25, ../sass/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 34, ../sass/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 43, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 50, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 56, ../sass/_reset.scss */
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 61, ../sass/_reset.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 69, ../sass/_reset.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 75, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 78, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 85, ../sass/_reset.scss */
img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 98, ../sass/_reset.scss */
#map_canvas img,
.google-maps img {
  max-width: none;
}

/* line 109, ../sass/_reset.scss */
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

/* line 115, ../sass/_reset.scss */
button,
input {
  *overflow: visible;
  line-height: normal;
}

/* line 120, ../sass/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 127, ../sass/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 131, ../sass/_reset.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* line 138, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 141, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 7, ../sass/_scaffolding.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/_scaffolding.scss */
body {
  margin: 0;
  color: #444;
  font: 14px/1.4 "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  background-color: #fff;
}

/* line 24, ../sass/_scaffolding.scss */
a, a:hover {
  color: #444;
  text-decoration: none;
}

/* line 32, ../sass/_scaffolding.scss */
.row {
  width: 100%;
  margin: 0 auto;
  *zoom: 1;
}

/* line 38, ../sass/_scaffolding.scss */
.row:before, .row:after {
  content: '';
  display: table;
}

/* line 43, ../sass/_scaffolding.scss */
.row:after {
  clear: both;
}

/* line 50, ../sass/_scaffolding.scss */
.wrapper, .content-wrapper {
  min-width: 1024px;
}

/* line 54, ../sass/_scaffolding.scss */
.col-l, .col-m, .col-r {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 59, ../sass/_scaffolding.scss */
.col-l, .col-r {
  width: 18%;
}

/* line 63, ../sass/_scaffolding.scss */
.col-m {
  width: 64%;
}

/* line 67, ../sass/_scaffolding.scss */
.col-l {
  float: left;
}

/* line 71, ../sass/_scaffolding.scss */
.col-r {
  float: right;
}

/* line 75, ../sass/_scaffolding.scss */
.header {
  height: 60px;
  background-color: #121212;
}
/* line 79, ../sass/_scaffolding.scss */
.header h1 {
  font-size: 18px;
  font-weight: normal;
  line-height: 60px;
  text-align: center;
  color: #fff;
}
/* line 87, ../sass/_scaffolding.scss */
.header .col-l {
  padding-left: 18px;
}
/* line 91, ../sass/_scaffolding.scss */
.header .col-r {
  text-align: right;
  padding-right: 18px;
}
/* line 96, ../sass/_scaffolding.scss */
.header .btn {
  display: inline-block;
  height: 60px;
  padding: 0 10px;
  font-size: 12px;
  background: none;
  border: none;
  color: #d1d1d1;
}
/* line 105, ../sass/_scaffolding.scss */
.header .btn i {
  display: block;
  font-size: 20px;
}

/* line 112, ../sass/_scaffolding.scss */
.content-wrapper {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f7f7f7;
}
/* line 121, ../sass/_scaffolding.scss */
.content-wrapper .col-l, .content-wrapper .col-m, .content-wrapper .col-r {
  position: relative;
  height: 100%;
  background: #f7f7f7;
}
/* line 127, ../sass/_scaffolding.scss */
.content-wrapper .col-m {
  position: relative;
  overflow: hidden;
  background: #252c31;
}
/* line 132, ../sass/_scaffolding.scss */
.content-wrapper .col-m:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 50px;
  bottom: 0;
  left: 0;
  width: 50px;
  background: #252c31;
  border-right: 1px solid #00232c;
  box-shadow: 0 10px 20px black;
  z-index: 0;
}

/* line 149, ../sass/_scaffolding.scss */
.search-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 7px 12px;
  height: 40px;
  background-color: #f7f7f7;
  border-top: 1px solid #ccc;
}

/* line 160, ../sass/_scaffolding.scss */
.input-group {
  display: table;
  position: relative;
  width: 100%;
  border-collapse: separate;
}
/* line 166, ../sass/_scaffolding.scss */
.input-group .form-control {
  display: table-cell;
  width: 100%;
  margin-bottom: 0;
}

/* line 173, ../sass/_scaffolding.scss */
.input-group-addon, .input-group-btn, .input-group .form-control {
  display: table-cell;
}

/* line 177, ../sass/_scaffolding.scss */
.form-control {
  display: block;
  width: 100%;
  height: 25px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px, rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px, rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px, rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* line 195, ../sass/_scaffolding.scss */
.input-group-btn {
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #ccc;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 204, ../sass/_scaffolding.scss */
.btn-default {
  position: relative;
  background-color: #fff;
  border: none;
  background: none;
}
/* line 210, ../sass/_scaffolding.scss */
.btn-default i {
  color: #666;
}

/*
 *  Font Awesome 3.2.1
 *  the iconic font designed for Bootstrap
 *  ------------------------------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation can be
 *  found at http://fontawesome.io.  Stay up to date on Twitter at
 *  http://twitter.com/fontawesome.
 *
 *  License
 *  ------------------------------------------------------------------------------
 *  - The Font Awesome font is licensed under SIL OFL 1.1 -
 *    http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - Font Awesome documentation licensed under CC BY 3.0 -
 *    http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fontawesome.io"
 *
 *  Author - Dave Gandy
 *  ------------------------------------------------------------------------------
 *  Email: dave@fontawesome.io
 *  Twitter: http://twitter.com/davegandy
 *  Work: Lead Product Designer @ Kyruus - http://kyruus.com
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../font/fontawesome-webfont.eot?v=3.2.1");
  src: url("../font/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("../font/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("../font/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* FONT AWESOME CORE
 * -------------------------- */
/* line 828, ../sass/_font-awesome.scss */
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}

/* line 833, ../sass/_font-awesome.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

/* makes the font 33% larger relative to the icon container */
/* line 840, ../sass/_font-awesome.scss */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.33333em;
}

/* makes sure icons active on rollover in links */
/* line 848, ../sass/_font-awesome.scss */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline;
}

/* increased font size for icon-large */
/* line 856, ../sass/_font-awesome.scss */
[class^="icon-"].icon-fixed-width,
[class*=" icon-"].icon-fixed-width {
  display: inline-block;
  width: 1.14286em;
  text-align: right;
  padding-right: 0.28571em;
}
/* line 861, ../sass/_font-awesome.scss */
[class^="icon-"].icon-fixed-width.icon-large,
[class*=" icon-"].icon-fixed-width.icon-large {
  width: 1.42857em;
}

/* line 867, ../sass/_font-awesome.scss */
.icons-ul {
  margin-left: 2.14286em;
  list-style-type: none;
}
/* line 871, ../sass/_font-awesome.scss */
.icons-ul > li {
  position: relative;
}
/* line 873, ../sass/_font-awesome.scss */
.icons-ul .icon-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  text-align: center;
  line-height: inherit;
}

/* line 885, ../sass/_font-awesome.scss */
[class^="icon-"].hide,
[class*=" icon-"].hide {
  display: none;
}

/* line 890, ../sass/_font-awesome.scss */
.icon-muted {
  color: #eeeeee;
}

/* line 891, ../sass/_font-awesome.scss */
.icon-light {
  color: white;
}

/* line 892, ../sass/_font-awesome.scss */
.icon-dark {
  color: #333333;
}

/* line 897, ../sass/_font-awesome.scss */
.icon-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 906, ../sass/_font-awesome.scss */
.icon-2x {
  font-size: 2em;
}
/* line 908, ../sass/_font-awesome.scss */
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 913, ../sass/_font-awesome.scss */
.icon-3x {
  font-size: 3em;
}
/* line 915, ../sass/_font-awesome.scss */
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 920, ../sass/_font-awesome.scss */
.icon-4x {
  font-size: 4em;
}
/* line 922, ../sass/_font-awesome.scss */
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 928, ../sass/_font-awesome.scss */
.icon-5x {
  font-size: 5em;
}
/* line 930, ../sass/_font-awesome.scss */
.icon-5x.icon-border {
  border-width: 5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

/* line 941, ../sass/_font-awesome.scss */
.pull-right {
  float: right;
}

/* line 942, ../sass/_font-awesome.scss */
.pull-left {
  float: left;
}

/* line 946, ../sass/_font-awesome.scss */
[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  margin-right: .3em;
}
/* line 949, ../sass/_font-awesome.scss */
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: .3em;
}

/* BOOTSTRAP SPECIFIC CLASSES
 * -------------------------- */
/* Bootstrap 2.0 sprites.less reset */
/* line 959, ../sass/_font-awesome.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

/* more sprites.less reset */
/* line 984, ../sass/_font-awesome.scss */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none;
}

/* keeps Bootstrap styles with and without icons the same */
/* line 994, ../sass/_font-awesome.scss */
.btn [class^="icon-"].icon-large,
.btn [class*=" icon-"].icon-large, .nav [class^="icon-"].icon-large,
.nav [class*=" icon-"].icon-large {
  line-height: .9em;
}
/* line 995, ../sass/_font-awesome.scss */
.btn [class^="icon-"].icon-spin,
.btn [class*=" icon-"].icon-spin, .nav [class^="icon-"].icon-spin,
.nav [class*=" icon-"].icon-spin {
  display: inline-block;
}

/* line 1001, ../sass/_font-awesome.scss */
.nav-tabs [class^="icon-"], .nav-tabs [class^="icon-"].icon-large,
.nav-tabs [class*=" icon-"],
.nav-tabs [class*=" icon-"].icon-large, .nav-pills [class^="icon-"], .nav-pills [class^="icon-"].icon-large,
.nav-pills [class*=" icon-"],
.nav-pills [class*=" icon-"].icon-large {
  line-height: .9em;
}

/* line 1008, ../sass/_font-awesome.scss */
.btn [class^="icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x,
.btn [class*=" icon-"].pull-left.icon-2x,
.btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: .18em;
}
/* line 1010, ../sass/_font-awesome.scss */
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  line-height: .8em;
}

/* line 1017, ../sass/_font-awesome.scss */
.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x,
.btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: .25em;
}

/* line 1023, ../sass/_font-awesome.scss */
.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  margin-top: 0;
}
/* line 1026, ../sass/_font-awesome.scss */
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: .05em;
}
/* line 1028, ../sass/_font-awesome.scss */
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x {
  margin-right: .2em;
}
/* line 1029, ../sass/_font-awesome.scss */
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-left: .2em;
}

/* Fixes alignment in nav lists */
/* line 1035, ../sass/_font-awesome.scss */
.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  line-height: inherit;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
 * readers do not read off random characters that represent icons */
/* line 1042, ../sass/_font-awesome.scss */
.icon-glass:before {
  content: "\f000";
}

/* line 1043, ../sass/_font-awesome.scss */
.icon-music:before {
  content: "\f001";
}

/* line 1044, ../sass/_font-awesome.scss */
.icon-search:before {
  content: "\f002";
}

/* line 1045, ../sass/_font-awesome.scss */
.icon-envelope-alt:before {
  content: "\f003";
}

/* line 1046, ../sass/_font-awesome.scss */
.icon-heart:before {
  content: "\f004";
}

/* line 1047, ../sass/_font-awesome.scss */
.icon-star:before {
  content: "\f005";
}

/* line 1048, ../sass/_font-awesome.scss */
.icon-star-empty:before {
  content: "\f006";
}

/* line 1049, ../sass/_font-awesome.scss */
.icon-user:before {
  content: "\f007";
}

/* line 1050, ../sass/_font-awesome.scss */
.icon-film:before {
  content: "\f008";
}

/* line 1051, ../sass/_font-awesome.scss */
.icon-th-large:before {
  content: "\f009";
}

/* line 1052, ../sass/_font-awesome.scss */
.icon-th:before {
  content: "\f00a";
}

/* line 1053, ../sass/_font-awesome.scss */
.icon-th-list:before {
  content: "\f00b";
}

/* line 1054, ../sass/_font-awesome.scss */
.icon-ok:before {
  content: "\f00c";
}

/* line 1055, ../sass/_font-awesome.scss */
.icon-remove:before {
  content: "\f00d";
}

/* line 1056, ../sass/_font-awesome.scss */
.icon-zoom-in:before {
  content: "\f00e";
}

/* line 1057, ../sass/_font-awesome.scss */
.icon-zoom-out:before {
  content: "\f010";
}

/* line 1059, ../sass/_font-awesome.scss */
.icon-power-off:before,
.icon-off:before {
  content: "\f011";
}

/* line 1060, ../sass/_font-awesome.scss */
.icon-signal:before {
  content: "\f012";
}

/* line 1062, ../sass/_font-awesome.scss */
.icon-gear:before,
.icon-cog:before {
  content: "\f013";
}

/* line 1063, ../sass/_font-awesome.scss */
.icon-trash:before {
  content: "\f014";
}

/* line 1064, ../sass/_font-awesome.scss */
.icon-home:before {
  content: "\f015";
}

/* line 1065, ../sass/_font-awesome.scss */
.icon-file-alt:before {
  content: "\f016";
}

/* line 1066, ../sass/_font-awesome.scss */
.icon-time:before {
  content: "\f017";
}

/* line 1067, ../sass/_font-awesome.scss */
.icon-road:before {
  content: "\f018";
}

/* line 1068, ../sass/_font-awesome.scss */
.icon-download-alt:before {
  content: "\f019";
}

/* line 1069, ../sass/_font-awesome.scss */
.icon-download:before {
  content: "\f01a";
}

/* line 1070, ../sass/_font-awesome.scss */
.icon-upload:before {
  content: "\f01b";
}

/* line 1071, ../sass/_font-awesome.scss */
.icon-inbox:before {
  content: "\f01c";
}

/* line 1072, ../sass/_font-awesome.scss */
.icon-play-circle:before {
  content: "\f01d";
}

/* line 1074, ../sass/_font-awesome.scss */
.icon-rotate-right:before,
.icon-repeat:before {
  content: "\f01e";
}

/* line 1075, ../sass/_font-awesome.scss */
.icon-refresh:before {
  content: "\f021";
}

/* line 1076, ../sass/_font-awesome.scss */
.icon-list-alt:before {
  content: "\f022";
}

/* line 1077, ../sass/_font-awesome.scss */
.icon-lock:before {
  content: "\f023";
}

/* line 1078, ../sass/_font-awesome.scss */
.icon-flag:before {
  content: "\f024";
}

/* line 1079, ../sass/_font-awesome.scss */
.icon-headphones:before {
  content: "\f025";
}

/* line 1080, ../sass/_font-awesome.scss */
.icon-volume-off:before {
  content: "\f026";
}

/* line 1081, ../sass/_font-awesome.scss */
.icon-volume-down:before {
  content: "\f027";
}

/* line 1082, ../sass/_font-awesome.scss */
.icon-volume-up:before {
  content: "\f028";
}

/* line 1083, ../sass/_font-awesome.scss */
.icon-qrcode:before {
  content: "\f029";
}

/* line 1084, ../sass/_font-awesome.scss */
.icon-barcode:before {
  content: "\f02a";
}

/* line 1085, ../sass/_font-awesome.scss */
.icon-tag:before {
  content: "\f02b";
}

/* line 1086, ../sass/_font-awesome.scss */
.icon-tags:before {
  content: "\f02c";
}

/* line 1087, ../sass/_font-awesome.scss */
.icon-book:before {
  content: "\f02d";
}

/* line 1088, ../sass/_font-awesome.scss */
.icon-bookmark:before {
  content: "\f02e";
}

/* line 1089, ../sass/_font-awesome.scss */
.icon-print:before {
  content: "\f02f";
}

/* line 1090, ../sass/_font-awesome.scss */
.icon-camera:before {
  content: "\f030";
}

/* line 1091, ../sass/_font-awesome.scss */
.icon-font:before {
  content: "\f031";
}

/* line 1092, ../sass/_font-awesome.scss */
.icon-bold:before {
  content: "\f032";
}

/* line 1093, ../sass/_font-awesome.scss */
.icon-italic:before {
  content: "\f033";
}

/* line 1094, ../sass/_font-awesome.scss */
.icon-text-height:before {
  content: "\f034";
}

/* line 1095, ../sass/_font-awesome.scss */
.icon-text-width:before {
  content: "\f035";
}

/* line 1096, ../sass/_font-awesome.scss */
.icon-align-left:before {
  content: "\f036";
}

/* line 1097, ../sass/_font-awesome.scss */
.icon-align-center:before {
  content: "\f037";
}

/* line 1098, ../sass/_font-awesome.scss */
.icon-align-right:before {
  content: "\f038";
}

/* line 1099, ../sass/_font-awesome.scss */
.icon-align-justify:before {
  content: "\f039";
}

/* line 1100, ../sass/_font-awesome.scss */
.icon-list:before {
  content: "\f03a";
}

/* line 1101, ../sass/_font-awesome.scss */
.icon-indent-left:before {
  content: "\f03b";
}

/* line 1102, ../sass/_font-awesome.scss */
.icon-indent-right:before {
  content: "\f03c";
}

/* line 1103, ../sass/_font-awesome.scss */
.icon-facetime-video:before {
  content: "\f03d";
}

/* line 1104, ../sass/_font-awesome.scss */
.icon-picture:before {
  content: "\f03e";
}

/* line 1105, ../sass/_font-awesome.scss */
.icon-pencil:before {
  content: "\f040";
}

/* line 1106, ../sass/_font-awesome.scss */
.icon-map-marker:before {
  content: "\f041";
}

/* line 1107, ../sass/_font-awesome.scss */
.icon-adjust:before {
  content: "\f042";
}

/* line 1108, ../sass/_font-awesome.scss */
.icon-tint:before {
  content: "\f043";
}

/* line 1109, ../sass/_font-awesome.scss */
.icon-edit:before {
  content: "\f044";
}

/* line 1110, ../sass/_font-awesome.scss */
.icon-share:before {
  content: "\f045";
}

/* line 1111, ../sass/_font-awesome.scss */
.icon-check:before {
  content: "\f046";
}

/* line 1112, ../sass/_font-awesome.scss */
.icon-move:before {
  content: "\f047";
}

/* line 1113, ../sass/_font-awesome.scss */
.icon-step-backward:before {
  content: "\f048";
}

/* line 1114, ../sass/_font-awesome.scss */
.icon-fast-backward:before {
  content: "\f049";
}

/* line 1115, ../sass/_font-awesome.scss */
.icon-backward:before {
  content: "\f04a";
}

/* line 1116, ../sass/_font-awesome.scss */
.icon-play:before {
  content: "\f04b";
}

/* line 1117, ../sass/_font-awesome.scss */
.icon-pause:before {
  content: "\f04c";
}

/* line 1118, ../sass/_font-awesome.scss */
.icon-stop:before {
  content: "\f04d";
}

/* line 1119, ../sass/_font-awesome.scss */
.icon-forward:before {
  content: "\f04e";
}

/* line 1120, ../sass/_font-awesome.scss */
.icon-fast-forward:before {
  content: "\f050";
}

/* line 1121, ../sass/_font-awesome.scss */
.icon-step-forward:before {
  content: "\f051";
}

/* line 1122, ../sass/_font-awesome.scss */
.icon-eject:before {
  content: "\f052";
}

/* line 1123, ../sass/_font-awesome.scss */
.icon-chevron-left:before {
  content: "\f053";
}

/* line 1124, ../sass/_font-awesome.scss */
.icon-chevron-right:before {
  content: "\f054";
}

/* line 1125, ../sass/_font-awesome.scss */
.icon-plus-sign:before {
  content: "\f055";
}

/* line 1126, ../sass/_font-awesome.scss */
.icon-minus-sign:before {
  content: "\f056";
}

/* line 1127, ../sass/_font-awesome.scss */
.icon-remove-sign:before {
  content: "\f057";
}

/* line 1128, ../sass/_font-awesome.scss */
.icon-ok-sign:before {
  content: "\f058";
}

/* line 1129, ../sass/_font-awesome.scss */
.icon-question-sign:before {
  content: "\f059";
}

/* line 1130, ../sass/_font-awesome.scss */
.icon-info-sign:before {
  content: "\f05a";
}

/* line 1131, ../sass/_font-awesome.scss */
.icon-screenshot:before {
  content: "\f05b";
}

/* line 1132, ../sass/_font-awesome.scss */
.icon-remove-circle:before {
  content: "\f05c";
}

/* line 1133, ../sass/_font-awesome.scss */
.icon-ok-circle:before {
  content: "\f05d";
}

/* line 1134, ../sass/_font-awesome.scss */
.icon-ban-circle:before {
  content: "\f05e";
}

/* line 1135, ../sass/_font-awesome.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 1136, ../sass/_font-awesome.scss */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 1137, ../sass/_font-awesome.scss */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 1138, ../sass/_font-awesome.scss */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 1140, ../sass/_font-awesome.scss */
.icon-mail-forward:before,
.icon-share-alt:before {
  content: "\f064";
}

/* line 1141, ../sass/_font-awesome.scss */
.icon-resize-full:before {
  content: "\f065";
}

/* line 1142, ../sass/_font-awesome.scss */
.icon-resize-small:before {
  content: "\f066";
}

/* line 1143, ../sass/_font-awesome.scss */
.icon-plus:before {
  content: "\f067";
}

/* line 1144, ../sass/_font-awesome.scss */
.icon-minus:before {
  content: "\f068";
}

/* line 1145, ../sass/_font-awesome.scss */
.icon-asterisk:before {
  content: "\f069";
}

/* line 1146, ../sass/_font-awesome.scss */
.icon-exclamation-sign:before {
  content: "\f06a";
}

/* line 1147, ../sass/_font-awesome.scss */
.icon-gift:before {
  content: "\f06b";
}

/* line 1148, ../sass/_font-awesome.scss */
.icon-leaf:before {
  content: "\f06c";
}

/* line 1149, ../sass/_font-awesome.scss */
.icon-fire:before {
  content: "\f06d";
}

/* line 1150, ../sass/_font-awesome.scss */
.icon-eye-open:before {
  content: "\f06e";
}

/* line 1151, ../sass/_font-awesome.scss */
.icon-eye-close:before {
  content: "\f070";
}

/* line 1152, ../sass/_font-awesome.scss */
.icon-warning-sign:before {
  content: "\f071";
}

/* line 1153, ../sass/_font-awesome.scss */
.icon-plane:before {
  content: "\f072";
}

/* line 1154, ../sass/_font-awesome.scss */
.icon-calendar:before {
  content: "\f073";
}

/* line 1155, ../sass/_font-awesome.scss */
.icon-random:before {
  content: "\f074";
}

/* line 1156, ../sass/_font-awesome.scss */
.icon-comment:before {
  content: "\f075";
}

/* line 1157, ../sass/_font-awesome.scss */
.icon-magnet:before {
  content: "\f076";
}

/* line 1158, ../sass/_font-awesome.scss */
.icon-chevron-up:before {
  content: "\f077";
}

/* line 1159, ../sass/_font-awesome.scss */
.icon-chevron-down:before {
  content: "\f078";
}

/* line 1160, ../sass/_font-awesome.scss */
.icon-retweet:before {
  content: "\f079";
}

/* line 1161, ../sass/_font-awesome.scss */
.icon-shopping-cart:before {
  content: "\f07a";
}

/* line 1162, ../sass/_font-awesome.scss */
.icon-folder-close:before {
  content: "\f07b";
}

/* line 1163, ../sass/_font-awesome.scss */
.icon-folder-open:before {
  content: "\f07c";
}

/* line 1164, ../sass/_font-awesome.scss */
.icon-resize-vertical:before {
  content: "\f07d";
}

/* line 1165, ../sass/_font-awesome.scss */
.icon-resize-horizontal:before {
  content: "\f07e";
}

/* line 1166, ../sass/_font-awesome.scss */
.icon-bar-chart:before {
  content: "\f080";
}

/* line 1167, ../sass/_font-awesome.scss */
.icon-twitter-sign:before {
  content: "\f081";
}

/* line 1168, ../sass/_font-awesome.scss */
.icon-facebook-sign:before {
  content: "\f082";
}

/* line 1169, ../sass/_font-awesome.scss */
.icon-camera-retro:before {
  content: "\f083";
}

/* line 1170, ../sass/_font-awesome.scss */
.icon-key:before {
  content: "\f084";
}

/* line 1172, ../sass/_font-awesome.scss */
.icon-gears:before,
.icon-cogs:before {
  content: "\f085";
}

/* line 1173, ../sass/_font-awesome.scss */
.icon-comments:before {
  content: "\f086";
}

/* line 1174, ../sass/_font-awesome.scss */
.icon-thumbs-up-alt:before {
  content: "\f087";
}

/* line 1175, ../sass/_font-awesome.scss */
.icon-thumbs-down-alt:before {
  content: "\f088";
}

/* line 1176, ../sass/_font-awesome.scss */
.icon-star-half:before {
  content: "\f089";
}

/* line 1177, ../sass/_font-awesome.scss */
.icon-heart-empty:before {
  content: "\f08a";
}

/* line 1178, ../sass/_font-awesome.scss */
.icon-signout:before {
  content: "\f08b";
}

/* line 1179, ../sass/_font-awesome.scss */
.icon-linkedin-sign:before {
  content: "\f08c";
}

/* line 1180, ../sass/_font-awesome.scss */
.icon-pushpin:before {
  content: "\f08d";
}

/* line 1181, ../sass/_font-awesome.scss */
.icon-external-link:before {
  content: "\f08e";
}

/* line 1182, ../sass/_font-awesome.scss */
.icon-signin:before {
  content: "\f090";
}

/* line 1183, ../sass/_font-awesome.scss */
.icon-trophy:before {
  content: "\f091";
}

/* line 1184, ../sass/_font-awesome.scss */
.icon-github-sign:before {
  content: "\f092";
}

/* line 1185, ../sass/_font-awesome.scss */
.icon-upload-alt:before {
  content: "\f093";
}

/* line 1186, ../sass/_font-awesome.scss */
.icon-lemon:before {
  content: "\f094";
}

/* line 1187, ../sass/_font-awesome.scss */
.icon-phone:before {
  content: "\f095";
}

/* line 1189, ../sass/_font-awesome.scss */
.icon-unchecked:before,
.icon-check-empty:before {
  content: "\f096";
}

/* line 1190, ../sass/_font-awesome.scss */
.icon-bookmark-empty:before {
  content: "\f097";
}

/* line 1191, ../sass/_font-awesome.scss */
.icon-phone-sign:before {
  content: "\f098";
}

/* line 1192, ../sass/_font-awesome.scss */
.icon-twitter:before {
  content: "\f099";
}

/* line 1193, ../sass/_font-awesome.scss */
.icon-facebook:before {
  content: "\f09a";
}

/* line 1194, ../sass/_font-awesome.scss */
.icon-github:before {
  content: "\f09b";
}

/* line 1195, ../sass/_font-awesome.scss */
.icon-unlock:before {
  content: "\f09c";
}

/* line 1196, ../sass/_font-awesome.scss */
.icon-credit-card:before {
  content: "\f09d";
}

/* line 1197, ../sass/_font-awesome.scss */
.icon-rss:before {
  content: "\f09e";
}

/* line 1198, ../sass/_font-awesome.scss */
.icon-hdd:before {
  content: "\f0a0";
}

/* line 1199, ../sass/_font-awesome.scss */
.icon-bullhorn:before {
  content: "\f0a1";
}

/* line 1200, ../sass/_font-awesome.scss */
.icon-bell:before {
  content: "\f0a2";
}

/* line 1201, ../sass/_font-awesome.scss */
.icon-certificate:before {
  content: "\f0a3";
}

/* line 1202, ../sass/_font-awesome.scss */
.icon-hand-right:before {
  content: "\f0a4";
}

/* line 1203, ../sass/_font-awesome.scss */
.icon-hand-left:before {
  content: "\f0a5";
}

/* line 1204, ../sass/_font-awesome.scss */
.icon-hand-up:before {
  content: "\f0a6";
}

/* line 1205, ../sass/_font-awesome.scss */
.icon-hand-down:before {
  content: "\f0a7";
}

/* line 1206, ../sass/_font-awesome.scss */
.icon-circle-arrow-left:before {
  content: "\f0a8";
}

/* line 1207, ../sass/_font-awesome.scss */
.icon-circle-arrow-right:before {
  content: "\f0a9";
}

/* line 1208, ../sass/_font-awesome.scss */
.icon-circle-arrow-up:before {
  content: "\f0aa";
}

/* line 1209, ../sass/_font-awesome.scss */
.icon-circle-arrow-down:before {
  content: "\f0ab";
}

/* line 1210, ../sass/_font-awesome.scss */
.icon-globe:before {
  content: "\f0ac";
}

/* line 1211, ../sass/_font-awesome.scss */
.icon-wrench:before {
  content: "\f0ad";
}

/* line 1212, ../sass/_font-awesome.scss */
.icon-tasks:before {
  content: "\f0ae";
}

/* line 1213, ../sass/_font-awesome.scss */
.icon-filter:before {
  content: "\f0b0";
}

/* line 1214, ../sass/_font-awesome.scss */
.icon-briefcase:before {
  content: "\f0b1";
}

/* line 1215, ../sass/_font-awesome.scss */
.icon-fullscreen:before {
  content: "\f0b2";
}

/* line 1216, ../sass/_font-awesome.scss */
.icon-group:before {
  content: "\f0c0";
}

/* line 1217, ../sass/_font-awesome.scss */
.icon-link:before {
  content: "\f0c1";
}

/* line 1218, ../sass/_font-awesome.scss */
.icon-cloud:before {
  content: "\f0c2";
}

/* line 1219, ../sass/_font-awesome.scss */
.icon-beaker:before {
  content: "\f0c3";
}

/* line 1220, ../sass/_font-awesome.scss */
.icon-cut:before {
  content: "\f0c4";
}

/* line 1221, ../sass/_font-awesome.scss */
.icon-copy:before {
  content: "\f0c5";
}

/* line 1223, ../sass/_font-awesome.scss */
.icon-paperclip:before,
.icon-paper-clip:before {
  content: "\f0c6";
}

/* line 1224, ../sass/_font-awesome.scss */
.icon-save:before {
  content: "\f0c7";
}

/* line 1225, ../sass/_font-awesome.scss */
.icon-sign-blank:before {
  content: "\f0c8";
}

/* line 1226, ../sass/_font-awesome.scss */
.icon-reorder:before {
  content: "\f0c9";
}

/* line 1227, ../sass/_font-awesome.scss */
.icon-list-ul:before {
  content: "\f0ca";
}

/* line 1228, ../sass/_font-awesome.scss */
.icon-list-ol:before {
  content: "\f0cb";
}

/* line 1229, ../sass/_font-awesome.scss */
.icon-strikethrough:before {
  content: "\f0cc";
}

/* line 1230, ../sass/_font-awesome.scss */
.icon-underline:before {
  content: "\f0cd";
}

/* line 1231, ../sass/_font-awesome.scss */
.icon-table:before {
  content: "\f0ce";
}

/* line 1232, ../sass/_font-awesome.scss */
.icon-magic:before {
  content: "\f0d0";
}

/* line 1233, ../sass/_font-awesome.scss */
.icon-truck:before {
  content: "\f0d1";
}

/* line 1234, ../sass/_font-awesome.scss */
.icon-pinterest:before {
  content: "\f0d2";
}

/* line 1235, ../sass/_font-awesome.scss */
.icon-pinterest-sign:before {
  content: "\f0d3";
}

/* line 1236, ../sass/_font-awesome.scss */
.icon-google-plus-sign:before {
  content: "\f0d4";
}

/* line 1237, ../sass/_font-awesome.scss */
.icon-google-plus:before {
  content: "\f0d5";
}

/* line 1238, ../sass/_font-awesome.scss */
.icon-money:before {
  content: "\f0d6";
}

/* line 1239, ../sass/_font-awesome.scss */
.icon-caret-down:before {
  content: "\f0d7";
}

/* line 1240, ../sass/_font-awesome.scss */
.icon-caret-up:before {
  content: "\f0d8";
}

/* line 1241, ../sass/_font-awesome.scss */
.icon-caret-left:before {
  content: "\f0d9";
}

/* line 1242, ../sass/_font-awesome.scss */
.icon-caret-right:before {
  content: "\f0da";
}

/* line 1243, ../sass/_font-awesome.scss */
.icon-columns:before {
  content: "\f0db";
}

/* line 1244, ../sass/_font-awesome.scss */
.icon-sort:before {
  content: "\f0dc";
}

/* line 1245, ../sass/_font-awesome.scss */
.icon-sort-down:before {
  content: "\f0dd";
}

/* line 1246, ../sass/_font-awesome.scss */
.icon-sort-up:before {
  content: "\f0de";
}

/* line 1247, ../sass/_font-awesome.scss */
.icon-envelope:before {
  content: "\f0e0";
}

/* line 1248, ../sass/_font-awesome.scss */
.icon-linkedin:before {
  content: "\f0e1";
}

/* line 1250, ../sass/_font-awesome.scss */
.icon-rotate-left:before,
.icon-undo:before {
  content: "\f0e2";
}

/* line 1251, ../sass/_font-awesome.scss */
.icon-legal:before {
  content: "\f0e3";
}

/* line 1252, ../sass/_font-awesome.scss */
.icon-dashboard:before {
  content: "\f0e4";
}

/* line 1253, ../sass/_font-awesome.scss */
.icon-comment-alt:before {
  content: "\f0e5";
}

/* line 1254, ../sass/_font-awesome.scss */
.icon-comments-alt:before {
  content: "\f0e6";
}

/* line 1255, ../sass/_font-awesome.scss */
.icon-bolt:before {
  content: "\f0e7";
}

/* line 1256, ../sass/_font-awesome.scss */
.icon-sitemap:before {
  content: "\f0e8";
}

/* line 1257, ../sass/_font-awesome.scss */
.icon-umbrella:before {
  content: "\f0e9";
}

/* line 1258, ../sass/_font-awesome.scss */
.icon-paste:before {
  content: "\f0ea";
}

/* line 1259, ../sass/_font-awesome.scss */
.icon-lightbulb:before {
  content: "\f0eb";
}

/* line 1260, ../sass/_font-awesome.scss */
.icon-exchange:before {
  content: "\f0ec";
}

/* line 1261, ../sass/_font-awesome.scss */
.icon-cloud-download:before {
  content: "\f0ed";
}

/* line 1262, ../sass/_font-awesome.scss */
.icon-cloud-upload:before {
  content: "\f0ee";
}

/* line 1263, ../sass/_font-awesome.scss */
.icon-user-md:before {
  content: "\f0f0";
}

/* line 1264, ../sass/_font-awesome.scss */
.icon-stethoscope:before {
  content: "\f0f1";
}

/* line 1265, ../sass/_font-awesome.scss */
.icon-suitcase:before {
  content: "\f0f2";
}

/* line 1266, ../sass/_font-awesome.scss */
.icon-bell-alt:before {
  content: "\f0f3";
}

/* line 1267, ../sass/_font-awesome.scss */
.icon-coffee:before {
  content: "\f0f4";
}

/* line 1268, ../sass/_font-awesome.scss */
.icon-food:before {
  content: "\f0f5";
}

/* line 1269, ../sass/_font-awesome.scss */
.icon-file-text-alt:before {
  content: "\f0f6";
}

/* line 1270, ../sass/_font-awesome.scss */
.icon-building:before {
  content: "\f0f7";
}

/* line 1271, ../sass/_font-awesome.scss */
.icon-hospital:before {
  content: "\f0f8";
}

/* line 1272, ../sass/_font-awesome.scss */
.icon-ambulance:before {
  content: "\f0f9";
}

/* line 1273, ../sass/_font-awesome.scss */
.icon-medkit:before {
  content: "\f0fa";
}

/* line 1274, ../sass/_font-awesome.scss */
.icon-fighter-jet:before {
  content: "\f0fb";
}

/* line 1275, ../sass/_font-awesome.scss */
.icon-beer:before {
  content: "\f0fc";
}

/* line 1276, ../sass/_font-awesome.scss */
.icon-h-sign:before {
  content: "\f0fd";
}

/* line 1277, ../sass/_font-awesome.scss */
.icon-plus-sign-alt:before {
  content: "\f0fe";
}

/* line 1278, ../sass/_font-awesome.scss */
.icon-double-angle-left:before {
  content: "\f100";
}

/* line 1279, ../sass/_font-awesome.scss */
.icon-double-angle-right:before {
  content: "\f101";
}

/* line 1280, ../sass/_font-awesome.scss */
.icon-double-angle-up:before {
  content: "\f102";
}

/* line 1281, ../sass/_font-awesome.scss */
.icon-double-angle-down:before {
  content: "\f103";
}

/* line 1282, ../sass/_font-awesome.scss */
.icon-angle-left:before {
  content: "\f104";
}

/* line 1283, ../sass/_font-awesome.scss */
.icon-angle-right:before {
  content: "\f105";
}

/* line 1284, ../sass/_font-awesome.scss */
.icon-angle-up:before {
  content: "\f106";
}

/* line 1285, ../sass/_font-awesome.scss */
.icon-angle-down:before {
  content: "\f107";
}

/* line 1286, ../sass/_font-awesome.scss */
.icon-desktop:before {
  content: "\f108";
}

/* line 1287, ../sass/_font-awesome.scss */
.icon-laptop:before {
  content: "\f109";
}

/* line 1288, ../sass/_font-awesome.scss */
.icon-tablet:before {
  content: "\f10a";
}

/* line 1289, ../sass/_font-awesome.scss */
.icon-mobile-phone:before {
  content: "\f10b";
}

/* line 1290, ../sass/_font-awesome.scss */
.icon-circle-blank:before {
  content: "\f10c";
}

/* line 1291, ../sass/_font-awesome.scss */
.icon-quote-left:before {
  content: "\f10d";
}

/* line 1292, ../sass/_font-awesome.scss */
.icon-quote-right:before {
  content: "\f10e";
}

/* line 1293, ../sass/_font-awesome.scss */
.icon-spinner:before {
  content: "\f110";
}

/* line 1294, ../sass/_font-awesome.scss */
.icon-circle:before {
  content: "\f111";
}

/* line 1296, ../sass/_font-awesome.scss */
.icon-mail-reply:before,
.icon-reply:before {
  content: "\f112";
}

/* line 1297, ../sass/_font-awesome.scss */
.icon-github-alt:before {
  content: "\f113";
}

/* line 1298, ../sass/_font-awesome.scss */
.icon-folder-close-alt:before {
  content: "\f114";
}

/* line 1299, ../sass/_font-awesome.scss */
.icon-folder-open-alt:before {
  content: "\f115";
}

/* line 1300, ../sass/_font-awesome.scss */
.icon-expand-alt:before {
  content: "\f116";
}

/* line 1301, ../sass/_font-awesome.scss */
.icon-collapse-alt:before {
  content: "\f117";
}

/* line 1302, ../sass/_font-awesome.scss */
.icon-smile:before {
  content: "\f118";
}

/* line 1303, ../sass/_font-awesome.scss */
.icon-frown:before {
  content: "\f119";
}

/* line 1304, ../sass/_font-awesome.scss */
.icon-meh:before {
  content: "\f11a";
}

/* line 1305, ../sass/_font-awesome.scss */
.icon-gamepad:before {
  content: "\f11b";
}

/* line 1306, ../sass/_font-awesome.scss */
.icon-keyboard:before {
  content: "\f11c";
}

/* line 1307, ../sass/_font-awesome.scss */
.icon-flag-alt:before {
  content: "\f11d";
}

/* line 1308, ../sass/_font-awesome.scss */
.icon-flag-checkered:before {
  content: "\f11e";
}

/* line 1309, ../sass/_font-awesome.scss */
.icon-terminal:before {
  content: "\f120";
}

/* line 1310, ../sass/_font-awesome.scss */
.icon-code:before {
  content: "\f121";
}

/* line 1311, ../sass/_font-awesome.scss */
.icon-reply-all:before {
  content: "\f122";
}

/* line 1312, ../sass/_font-awesome.scss */
.icon-mail-reply-all:before {
  content: "\f122";
}

/* line 1314, ../sass/_font-awesome.scss */
.icon-star-half-full:before,
.icon-star-half-empty:before {
  content: "\f123";
}

/* line 1315, ../sass/_font-awesome.scss */
.icon-location-arrow:before {
  content: "\f124";
}

/* line 1316, ../sass/_font-awesome.scss */
.icon-crop:before {
  content: "\f125";
}

/* line 1317, ../sass/_font-awesome.scss */
.icon-code-fork:before {
  content: "\f126";
}

/* line 1318, ../sass/_font-awesome.scss */
.icon-unlink:before {
  content: "\f127";
}

/* line 1319, ../sass/_font-awesome.scss */
.icon-question:before {
  content: "\f128";
}

/* line 1320, ../sass/_font-awesome.scss */
.icon-info:before {
  content: "\f129";
}

/* line 1321, ../sass/_font-awesome.scss */
.icon-exclamation:before {
  content: "\f12a";
}

/* line 1322, ../sass/_font-awesome.scss */
.icon-superscript:before {
  content: "\f12b";
}

/* line 1323, ../sass/_font-awesome.scss */
.icon-subscript:before {
  content: "\f12c";
}

/* line 1324, ../sass/_font-awesome.scss */
.icon-eraser:before {
  content: "\f12d";
}

/* line 1325, ../sass/_font-awesome.scss */
.icon-puzzle-piece:before {
  content: "\f12e";
}

/* line 1326, ../sass/_font-awesome.scss */
.icon-microphone:before {
  content: "\f130";
}

/* line 1327, ../sass/_font-awesome.scss */
.icon-microphone-off:before {
  content: "\f131";
}

/* line 1328, ../sass/_font-awesome.scss */
.icon-shield:before {
  content: "\f132";
}

/* line 1329, ../sass/_font-awesome.scss */
.icon-calendar-empty:before {
  content: "\f133";
}

/* line 1330, ../sass/_font-awesome.scss */
.icon-fire-extinguisher:before {
  content: "\f134";
}

/* line 1331, ../sass/_font-awesome.scss */
.icon-rocket:before {
  content: "\f135";
}

/* line 1332, ../sass/_font-awesome.scss */
.icon-maxcdn:before {
  content: "\f136";
}

/* line 1333, ../sass/_font-awesome.scss */
.icon-chevron-sign-left:before {
  content: "\f137";
}

/* line 1334, ../sass/_font-awesome.scss */
.icon-chevron-sign-right:before {
  content: "\f138";
}

/* line 1335, ../sass/_font-awesome.scss */
.icon-chevron-sign-up:before {
  content: "\f139";
}

/* line 1336, ../sass/_font-awesome.scss */
.icon-chevron-sign-down:before {
  content: "\f13a";
}

/* line 1337, ../sass/_font-awesome.scss */
.icon-html5:before {
  content: "\f13b";
}

/* line 1338, ../sass/_font-awesome.scss */
.icon-css3:before {
  content: "\f13c";
}

/* line 1339, ../sass/_font-awesome.scss */
.icon-anchor:before {
  content: "\f13d";
}

/* line 1340, ../sass/_font-awesome.scss */
.icon-unlock-alt:before {
  content: "\f13e";
}

/* line 1341, ../sass/_font-awesome.scss */
.icon-bullseye:before {
  content: "\f140";
}

/* line 1342, ../sass/_font-awesome.scss */
.icon-ellipsis-horizontal:before {
  content: "\f141";
}

/* line 1343, ../sass/_font-awesome.scss */
.icon-ellipsis-vertical:before {
  content: "\f142";
}

/* line 1344, ../sass/_font-awesome.scss */
.icon-rss-sign:before {
  content: "\f143";
}

/* line 1345, ../sass/_font-awesome.scss */
.icon-play-sign:before {
  content: "\f144";
}

/* line 1346, ../sass/_font-awesome.scss */
.icon-ticket:before {
  content: "\f145";
}

/* line 1347, ../sass/_font-awesome.scss */
.icon-minus-sign-alt:before {
  content: "\f146";
}

/* line 1348, ../sass/_font-awesome.scss */
.icon-check-minus:before {
  content: "\f147";
}

/* line 1349, ../sass/_font-awesome.scss */
.icon-level-up:before {
  content: "\f148";
}

/* line 1350, ../sass/_font-awesome.scss */
.icon-level-down:before {
  content: "\f149";
}

/* line 1351, ../sass/_font-awesome.scss */
.icon-check-sign:before {
  content: "\f14a";
}

/* line 1352, ../sass/_font-awesome.scss */
.icon-edit-sign:before {
  content: "\f14b";
}

/* line 1353, ../sass/_font-awesome.scss */
.icon-external-link-sign:before {
  content: "\f14c";
}

/* line 1354, ../sass/_font-awesome.scss */
.icon-share-sign:before {
  content: "\f14d";
}

/* line 1355, ../sass/_font-awesome.scss */
.icon-compass:before {
  content: "\f14e";
}

/* line 1356, ../sass/_font-awesome.scss */
.icon-collapse:before {
  content: "\f150";
}

/* line 1357, ../sass/_font-awesome.scss */
.icon-collapse-top:before {
  content: "\f151";
}

/* line 1358, ../sass/_font-awesome.scss */
.icon-expand:before {
  content: "\f152";
}

/* line 1360, ../sass/_font-awesome.scss */
.icon-euro:before,
.icon-eur:before {
  content: "\f153";
}

/* line 1361, ../sass/_font-awesome.scss */
.icon-gbp:before {
  content: "\f154";
}

/* line 1363, ../sass/_font-awesome.scss */
.icon-dollar:before,
.icon-usd:before {
  content: "\f155";
}

/* line 1365, ../sass/_font-awesome.scss */
.icon-rupee:before,
.icon-inr:before {
  content: "\f156";
}

/* line 1367, ../sass/_font-awesome.scss */
.icon-yen:before,
.icon-jpy:before {
  content: "\f157";
}

/* line 1369, ../sass/_font-awesome.scss */
.icon-renminbi:before,
.icon-cny:before {
  content: "\f158";
}

/* line 1371, ../sass/_font-awesome.scss */
.icon-won:before,
.icon-krw:before {
  content: "\f159";
}

/* line 1373, ../sass/_font-awesome.scss */
.icon-bitcoin:before,
.icon-btc:before {
  content: "\f15a";
}

/* line 1374, ../sass/_font-awesome.scss */
.icon-file:before {
  content: "\f15b";
}

/* line 1375, ../sass/_font-awesome.scss */
.icon-file-text:before {
  content: "\f15c";
}

/* line 1376, ../sass/_font-awesome.scss */
.icon-sort-by-alphabet:before {
  content: "\f15d";
}

/* line 1377, ../sass/_font-awesome.scss */
.icon-sort-by-alphabet-alt:before {
  content: "\f15e";
}

/* line 1378, ../sass/_font-awesome.scss */
.icon-sort-by-attributes:before {
  content: "\f160";
}

/* line 1379, ../sass/_font-awesome.scss */
.icon-sort-by-attributes-alt:before {
  content: "\f161";
}

/* line 1380, ../sass/_font-awesome.scss */
.icon-sort-by-order:before {
  content: "\f162";
}

/* line 1381, ../sass/_font-awesome.scss */
.icon-sort-by-order-alt:before {
  content: "\f163";
}

/* line 1382, ../sass/_font-awesome.scss */
.icon-thumbs-up:before {
  content: "\f164";
}

/* line 1383, ../sass/_font-awesome.scss */
.icon-thumbs-down:before {
  content: "\f165";
}

/* line 1384, ../sass/_font-awesome.scss */
.icon-youtube-sign:before {
  content: "\f166";
}

/* line 1385, ../sass/_font-awesome.scss */
.icon-youtube:before {
  content: "\f167";
}

/* line 1386, ../sass/_font-awesome.scss */
.icon-xing:before {
  content: "\f168";
}

/* line 1387, ../sass/_font-awesome.scss */
.icon-xing-sign:before {
  content: "\f169";
}

/* line 1388, ../sass/_font-awesome.scss */
.icon-youtube-play:before {
  content: "\f16a";
}

/* line 1389, ../sass/_font-awesome.scss */
.icon-dropbox:before {
  content: "\f16b";
}

/* line 1390, ../sass/_font-awesome.scss */
.icon-stackexchange:before {
  content: "\f16c";
}

/* line 1391, ../sass/_font-awesome.scss */
.icon-instagram:before {
  content: "\f16d";
}

/* line 1392, ../sass/_font-awesome.scss */
.icon-flickr:before {
  content: "\f16e";
}

/* line 1393, ../sass/_font-awesome.scss */
.icon-adn:before {
  content: "\f170";
}

/* line 1394, ../sass/_font-awesome.scss */
.icon-bitbucket:before {
  content: "\f171";
}

/* line 1395, ../sass/_font-awesome.scss */
.icon-bitbucket-sign:before {
  content: "\f172";
}

/* line 1396, ../sass/_font-awesome.scss */
.icon-tumblr:before {
  content: "\f173";
}

/* line 1397, ../sass/_font-awesome.scss */
.icon-tumblr-sign:before {
  content: "\f174";
}

/* line 1398, ../sass/_font-awesome.scss */
.icon-long-arrow-down:before {
  content: "\f175";
}

/* line 1399, ../sass/_font-awesome.scss */
.icon-long-arrow-up:before {
  content: "\f176";
}

/* line 1400, ../sass/_font-awesome.scss */
.icon-long-arrow-left:before {
  content: "\f177";
}

/* line 1401, ../sass/_font-awesome.scss */
.icon-long-arrow-right:before {
  content: "\f178";
}

/* line 1402, ../sass/_font-awesome.scss */
.icon-apple:before {
  content: "\f179";
}

/* line 1403, ../sass/_font-awesome.scss */
.icon-windows:before {
  content: "\f17a";
}

/* line 1404, ../sass/_font-awesome.scss */
.icon-android:before {
  content: "\f17b";
}

/* line 1405, ../sass/_font-awesome.scss */
.icon-linux:before {
  content: "\f17c";
}

/* line 1406, ../sass/_font-awesome.scss */
.icon-dribbble:before {
  content: "\f17d";
}

/* line 1407, ../sass/_font-awesome.scss */
.icon-skype:before {
  content: "\f17e";
}

/* line 1408, ../sass/_font-awesome.scss */
.icon-foursquare:before {
  content: "\f180";
}

/* line 1409, ../sass/_font-awesome.scss */
.icon-trello:before {
  content: "\f181";
}

/* line 1410, ../sass/_font-awesome.scss */
.icon-female:before {
  content: "\f182";
}

/* line 1411, ../sass/_font-awesome.scss */
.icon-male:before {
  content: "\f183";
}

/* line 1412, ../sass/_font-awesome.scss */
.icon-gittip:before {
  content: "\f184";
}

/* line 1413, ../sass/_font-awesome.scss */
.icon-sun:before {
  content: "\f185";
}

/* line 1414, ../sass/_font-awesome.scss */
.icon-moon:before {
  content: "\f186";
}

/* line 1415, ../sass/_font-awesome.scss */
.icon-archive:before {
  content: "\f187";
}

/* line 1416, ../sass/_font-awesome.scss */
.icon-bug:before {
  content: "\f188";
}

/* line 1417, ../sass/_font-awesome.scss */
.icon-vk:before {
  content: "\f189";
}

/* line 1418, ../sass/_font-awesome.scss */
.icon-weibo:before {
  content: "\f18a";
}

/* line 1419, ../sass/_font-awesome.scss */
.icon-renren:before {
  content: "\f18b";
}

/* line 22, ../sass/application.scss */
.add-new, .join-talk {
  display: block;
  width: 100%;
  height: 47px;
  padding-left: 20px;
  line-height: 47px;
  text-align: left;
  text-transform: uppercase;
  background: #f7f7f7;
  border: none;
  border-bottom: 1px solid #ccc;
}
/* line 34, ../sass/application.scss */
.add-new i, .join-talk i {
  padding-right: 6px;
  color: #7c7c7c;
}

/* line 41, ../sass/application.scss */
.refs {
  padding-top: 10px;
}
/* line 44, ../sass/application.scss */
.refs li {
  position: relative;
  padding: 3px 18px;
  padding-left: 22px;
  border: 1px solid #f7f7f7;
  border-width: 1px 0;
}
/* line 51, ../sass/application.scss */
.refs li.folder {
  padding-left: 18px;
}
/* line 55, ../sass/application.scss */
.refs li:hover {
  background: #fff;
  border-color: #ebebeb;
}
/* line 59, ../sass/application.scss */
.refs li:hover .btn-delete {
  display: block;
}
/* line 65, ../sass/application.scss */
.refs .btn-delete {
  display: none;
  position: absolute;
  top: 1px;
  right: 18px;
  background: none;
  border: none;
}
/* line 74, ../sass/application.scss */
.refs i {
  padding-right: 2px;
  color: #7c7c7c;
}

/* line 80, ../sass/application.scss */
.chat-list, .chat-wrapper {
  padding: 10px 0 8px;
  list-style: none;
  border-bottom: 1px solid #f7f7f7;
}
/* line 85, ../sass/application.scss */
.chat-list li, .chat-wrapper li {
  position: relative;
  padding: 0 20px;
  margin-bottom: 8px;
  cursor: pointer;
}
/* line 92, ../sass/application.scss */
.chat-list li:hover .btn-delete, .chat-wrapper li:hover .btn-delete {
  display: block;
}
/* line 98, ../sass/application.scss */
.chat-list img, .chat-wrapper img {
  margin-right: 8px;
}
/* line 102, ../sass/application.scss */
.chat-list .color, .chat-wrapper .color {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 111, ../sass/application.scss */
.chat-list .color-1, .chat-wrapper .color-1 {
  background-color: #629ced;
}
/* line 115, ../sass/application.scss */
.chat-list .color-2, .chat-wrapper .color-2 {
  background-color: #efa59a;
}
/* line 119, ../sass/application.scss */
.chat-list .color-3, .chat-wrapper .color-3 {
  background-color: #90dc84;
}
/* line 123, ../sass/application.scss */
.chat-list .color-4, .chat-wrapper .color-4 {
  background-color: #c7a2e5;
}
/* line 127, ../sass/application.scss */
.chat-list .btn-delete, .chat-wrapper .btn-delete {
  display: none;
  position: absolute;
  top: 1px;
  right: 18px;
  background: none;
  border: none;
}
/* line 136, ../sass/application.scss */
.chat-list i, .chat-wrapper i {
  padding-right: 2px;
  color: #7c7c7c;
}

/* line 142, ../sass/application.scss */
.chat-wrapper {
  font-size: 12px;
  border-top: 2px solid #ccc;
  border-bottom: none;
}
/* line 147, ../sass/application.scss */
.chat-wrapper li {
  position: relative;
  padding: 0 20px 5px 56px;
  border-bottom: 1px dashed #ccc;
}
/* line 152, ../sass/application.scss */
.chat-wrapper li:last-child {
  border-bottom: none;
}
/* line 157, ../sass/application.scss */
.chat-wrapper img {
  position: absolute;
  top: 0;
  left: 20px;
}
/* line 163, ../sass/application.scss */
.chat-wrapper .user {
  font-weight: bold;
  color: #2a6496;
}

/* line 169, ../sass/application.scss */
#landing {
  position: relative;
  background: #f7f7f7;
}
/* line 173, ../sass/application.scss */
#landing .logo {
  display: block;
  width: 100px;
  height: 100px;
  margin: 40px auto 0px;
  line-height: 100px;
  text-align: center;
  background: #252c31;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 184, ../sass/application.scss */
#landing .logo i {
  font-size: 35px;
  vertical-align: middle;
}
/* line 190, ../sass/application.scss */
#landing .login-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 420px;
  height: 620px;
  margin: -313px 0 0 -210px;
  background: #fff;
  border-top: 6px solid #3b3f41;
  -webkit-box-shadow: 0 0 10px 0px #dddddd;
  -moz-box-shadow: 0 0 10px 0px #dddddd;
  box-shadow: 0 0 10px 0px #dddddd;
}
/* line 202, ../sass/application.scss */
#landing h1 {
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
/* line 209, ../sass/application.scss */
#landing p {
  margin-bottom: 10px;
  padding: 0 60px;
}
/* line 215, ../sass/application.scss */
#landing .facebook-before i, #landing .twitter-before i {
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
  color: #fff;
}
/* line 223, ../sass/application.scss */
#landing .facebook-before {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #0064ab;
  color: #f4f4f4;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
/* line 235, ../sass/application.scss */
#landing .facebook {
  width: 250px;
  height: 50px;
  background-color: #0079ce;
  border: none;
  color: #f4f4f4;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
/* line 246, ../sass/application.scss */
#landing .twitter-before {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #189bcb;
  color: #f4f4f4;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
/* line 258, ../sass/application.scss */
#landing .twitter {
  width: 250px;
  height: 50px;
  text-transform: uppercase;
  background-color: #1bb2e9;
  border: none;
  color: #f4f4f4;
  cursor: pointer;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

#landing .line {
  position: relative;
  text-align: center;
  color: #888;
}

#landing .line:before {
  content: '';
  position: absolute;
  width: 300px;
  height: 1px;
  background: #ddd;
  top: 50%;
  left: 60px;
  z-index: 0;
}

#landing .line span {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  background: #fff;
  z-index: 5;
}

#landing input.text {
  width: 300px;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 10px;
}

#landing .name-submit {
  width: 300px;
  height: 40px;
}

#landing .title-chatroom {
  margin: 35px 30px 0;
  border-top: 2px dotted #a1ceed;
}

#landing .greeting {
  padding: 70px 0 50px;
  text-align: center;
}
